body{
    font-family: sans-serif;
}
.logo{
    align-items: center;
    text-align: center;
    height: auto;
    margin-top: 8%;
}
#img{
    height: 92px;
}
.nav{
    display: flex;
    flex-direction:column;
    text-align:right;
    padding: 15px;
    padding-right: 30px;

}
.nav_list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav_item:not(:last-child) {
    margin-right: 15px;
  }
.search-box{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 23px;
}
#search{
    width: 40%;
    height: 2.4em;
    border-radius: 22px;
    border: 1px solid rgb(196, 196, 196);
    outline: none;
}
#gmail,#images{
    text-decoration: none;
    color:black;
}
#search:hover{
    box-shadow: 1px 1px 5px #8888889f;
    width: 41%;
}
#feelin-lucky {
    margin-right: 3px;
	text-align: center;
	color: #000000b6;
	border: none;
	border-radius: 5px;
	outline: none;
}
.buttons {
	display: flex;
	justify-content: center;
}

.search-button {
	margin: 30px 5px;
	padding: 10px 20px;
	text-align: center;
	background-color: #f4f4f4;
	color: #000000b6;
	border: none;
	border-radius: 5px;
	outline: none;
}

.search-button:hover {
	box-shadow: 1px 1px 3px #8888889f;
	border: solid 1px #8888889f;
	color: black;
}
.footer {
	border-top: solid 1px #8888883f;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #eeeeee;
	color: #000000b6;
}

.footer-items {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer-items li {
	float: left;
}

.footer-items li a {
    color:black;
    text-decoration: none;
	display: block;
	text-align: center;
	padding: 14px 10px;
	font-size: 13px;
}
#closing{
    margin-top: 10px;
    list-style: none;
    float: right;
}